/* 
    Document   : backend
    Created on : Apr 4, 2011, 11:04:33 AM
    Author     : Dustin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

