/* 
    Document   : frontend
    Created on : Apr 4, 2011, 11:04:19 AM
    Author     : Dustin
    Description:
        Purpose of the stylesheet follows#
*/

/* Main Site Styling */

body{
	padding: 0px;
	margin: 0px;
	height: 100%;
	background-color: LightBlue;
	font-family: Century Gothic, sans-serif;
}

#BodyWrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -150px; /* the bottom margin is the negative value of the footer's height */
}

#Header {
    width: 100%;
    height: 100px;
/*	background-image: url(../img/HeaderBG.png);
	background-repeat: repeat-x; */
    background-color: LightBlue;
}

#Login-Navigation {
    width: 99%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: Green;
    margin-bottom: 10px;
	border-left: solid black;
	border-right: solid black;
    border-bottom: solid black;
	border-width: 1px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-left-radius: 15px;
	overflow: hidden;
}

#Public-Navigation {
    width: 92%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.3); /* WHITE */
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-top: solid black;
	border-bottom: solid black;
    border-width: 1px;
	overflow: hidden;
}


#Content {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9); /* WHITE */
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    -moz-box-shadow: 5px 5px 6px #000;
    -webkit-box-shadow: 5px 5px 6px #000;
    box-shadow: 5px 5px 6px #000;
}

#BottomContentWrapper {
    width: 90%;
	margin-left: auto;
	margin-right: auto;
    height: 140px;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.BottomLeftContent {
    width: 44%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.9); /* WHITE */
    float: left;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px;
    border-style:solid;
    border-color: black;
    border-width: 2px;
    margin-bottom: 10px;
    margin-left: 1%;
	-moz-box-shadow: 5px 5px 6px #000;
    -webkit-box-shadow: 5px 5px 6px #000;
    box-shadow: 5px 5px 6px #000;
}

.BottomRightContent {
    width: 44%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.9); /* WHITE */
    float: right;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px;
    border-style:solid;
    border-color: black;
    border-width: 2px;
    margin-bottom: 10px;
    margin-right: 1%;
    -moz-box-shadow: 5px 5px 6px #000;
    -webkit-box-shadow: 5px 5px 6px #000;
    box-shadow: 5px 5px 6px #000;
}

#Footer {
    clear: both;
    width: 100%;
    height: 150px;
    position: relative;
    border-top: solid green;
    border-width: 10px;
    background-color: saddlebrown;
    margin-top: 20px;
    z-index: 10;
}

.Push {
	height: 150px;
}

/* Details CSS Styling */

.WelcomeText {
    float: left;
    padding: 10px;
}

.PrivateNavItem {
    float: right;
    width: 100px;
    padding-top: 10px;
}


.Logo {
	background-image: url(../img/smLogo.png);
	background-repeat: no-repeat;
	height: 250px;
}

/* Navigation Items */

.NavItem {
	height: 100px;
	width: 75px;
	padding-left: 2%;
	padding-right: 2%;
	float: left;
}


/* END OF Navigation Items */


.Error {
    color: red;
}
